body,
html,
* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.fruit {   
    transition: all 0.25s ease-out ;
    position: relative;
    width: 300px;
    height: 300px;
    rotate: 0deg;
}
#a {
    background-color: rgb(255, 143, 143);
}
#p {
    background-color: rgb(73, 139, 73);
}
#b {
    background-color: rgb(255, 255, 128);
}
.text {
    margin: 15px;
    font-size: 50px;
    justify-content: center;
}
body {
    background-color: bisque;
    
}
section {
    display: flex;
    flex-wrap: wrap;
}
.container {
    margin: 50px;
    padding: 20px;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
h1 {
    font-size: 100px;
}
.price {
    font-size: 30px;
}
.fruit:active {
    transition: all 0.25s ease-out ;
    rotate: 360deg;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
